@import url('https://fonts.googleapis.com/css2?family=Karla&family=Oswald:wght@300&display=swap');

/* ------------------- Code found on stack overflow to help resolve gap at the end of navbar*/

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* ------------------- https://stackoverflow.com/questions/37618091/remove-small-gap-between-nav-and-header*/

body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

/* ------------------- Background Colors */

.bg-heading {
    background-color: #272525;
}

.bg-navbar-color {
    background-color: #272525;
    width: 100%;
}

.bg-classes {
    background-color: #272525;
}

.bg-cardio-class {
    background-color: #ffb703;
}

.bg-sculpt-class {
    background-color: #fb8500;
}

.bg-mind-class {
    background-color: #3D5A80;
}

.bg-func-class {
    background-color: #293241;
}

.bg-contact-us {
    background-color: #272525;
}

/* ------------------- Heading */

.mainheading {
    color: #fafafa;
    text-align: center;
    font-family: "Oswald",sans-serif;
}

.mainheading h1 {
    font-size: 48px;
    font-weight: 600;
}

/* ------------------- Navbar */

.nav {
    margin: 0;
    width: 100%;
    padding-bottom: 20px;

}

#nav li {
    padding: 0;
    font-size: 20px;
}

.menuitem {
    height: 30px;
    text-align: center;
    padding-right: 5px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
}

a.btn-light {
    color: black;
    width: auto;
}

.menuitem a:hover {
    text-decoration: underline;
}


/* ------------------- Callout */

.callout {
    background-image: url(../images/gym.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 800px;
}

.callout-content {
    text-align: center;
    height: 50%;
    padding-top: 30%;
    color: #fafafa;
}

@media (min-width:991px){
.callout-content {
    text-align: center;
    height: 50%;
    padding-top: 15%;
    color: #fafafa;
}
}

.callout-content p {
    font-size: 22px;
}

.box-background {
    background-color: rgba(0,0,0,0.5);
    width: 55%;
    margin-left: 25%;
    border-radius: 10px;
}

/* ------------------- About Us */

.aboutus {
    text-align: center;
    margin-top: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #272525;
    text-decoration: underline;
}

.about-content {
    margin-top: 40px;
    text-align: center;
    width: 300px;
    padding-left: 20px;
}


.about-content h1 {
    margin-left: 20%;
}

.about-content p {
    margin-top: 10px;
}
.about-image {
    text-align: center;
    margin-top: 20px;
    padding: 0;
}

.about-content2 {
    margin-top: 30px;
    width: 300px;
    text-align: center;
    padding-left: 25px;
    float: left;
    margin-left: 0;
    margin-bottom: 30px;
}

.about-content2 p {
    margin-top: 10px;
}

.about-image2 {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 990px) { 
.about-image2 {
    display: none;
}
}

/* ------------------- Classes */

.classes {
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fafafa;
}

.cardio-class {
    text-align: center;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    color: #030303;
}

.cardio-class p {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.sculpt-class {
    text-align: center;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    color: #030303;
}

.sculpt-class p {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.mind-class {
    text-align: center;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    color: #fafafa;
}

.mind-class p {
    margin-left: 40px;
    margin-right: 40px;
}


.func-class {
    text-align: center;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    color: #fafafa;
}

.func-class p {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}


/* ------------------- Sign Up */

.sign-heading {
    text-align: center;
}

.sign-heading h1 {
    font-family: "oswald",sans-serif;
    text-decoration: underline;
    margin-top: 40px;
}

.sign-heading h2 {
    margin-top: 20px;
}

/* ------------------- Sign up form */

.form {
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    width: 40%;
    margin-left: 30%;
    border-radius: 15px;
    margin-top: 20px;
    color: #fafafa;
}

@media (max-width:720px){
.form {
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        width: 80%;
        border-radius: 15px;
        margin-top: 20px;
        color: #fafafa;
        margin-left: 10%;
}
}

.fname-form {
    padding-top: 20px;
    padding-bottom: 10px;
}

.lname-form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.email-form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35px;
}

.form-button {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* ------------------- Contact Us */

.contact-us {
    text-align: center;
    margin-top: 50px;
}

.contact-us h1 {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    padding-top: 20px;
}

.contact-us p {
    color: #fafafa;
}

.contact-address {
    color: #fafafa;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.contact-num {
    color: #fafafa;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
}

/* ------------------- footer */

.copyright {
    text-align: center;
    background-color: #272525;
    color: #fafafa;
    padding-top: 10px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 0;
}

.footer-logo {
    text-align: center;
    background-color: #272525;
    color: #fafafa;
    padding-top: 10px;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
}

.socials {
    text-align: center;
    color: inherit;
    background-color: #272525;
    padding-top: 10px;
    font-size: 20px;
}

.socials i {
    text-decoration: none;
}

.socials a {
    color: white !important;
}

